[submodule "Cloud"]
	path = Cloud
	url = ./Cloud
[submodule "Login"]
	path = Login
	url = ./Login
[submodule "Portal"]
	path = Portal
	url = ./Portal
[submodule "Website"]
	path = Website
	url = ./Website
